#home4 {
  background-image: url("https://thisisrock.es/web2020/wp-content/uploads/2021/02/Harley-Davidson-Explora-Horizontes-Infinitos.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh; }

.Subtitulo4 {
  margin-top: 0.1px;
  margin-bottom: 1px;
  padding-top: 100px;
  text-align: center; }

.parrafo__somos, .parrafo__redes {
  text-align: center;
  font-size: 450; }

.agregado {
  margin-bottom: 370px; }

.encontranos {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 500px;
  bottom: 0;
  list-style-type: none; }

.redes4 {
  color: white;
  border: solid 1px #000000;
  background-color: #000000;
  text-decoration: none; }

#home5 {
  background-image: url("https://www.actumoto.ch/wp-content/uploads/thumbnails/2021/01/20210105DAK0007-DPPI-F.Gooden-1700x1133.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%; }

.completando {
  color: #ffffff;
  border: solid 1px #000000;
  background-color: #000000;
  margin-top: 65px;
  text-align: center; }

#formulario__motos {
  display: flex;
  justify-content: flex-end; }

legend {
  text-align: center; }

fieldset.casilleros {
  text-align: start;
  background-color: transparent;
  border: solid;
  padding: 40px; }

.sexo {
  text-align: center; }

.sexohm {
  display: flex;
  justify-content: space-evenly; }

.diferentes-elecciones {
  display: flex;
  flex-direction: column;
  align-content: center; }

.complete {
  margin-bottom: 30px;
  display: inline; }

.elegicolor {
  display: flex;
  justify-content: center;
  padding-bottom: 15px; }

label.apartado {
  margin-right: 20px; }

.complete__color {
  margin-bottom: 5px; }

.btn-center {
  display: flex;
  justify-content: center; }

.fondo__negro {
  background-color: #000000; }

.seguinos5 {
  display: flex;
  justify-content: center;
  justify-items: end;
  margin-bottom: 30px; }

#contactenos5 {
  color: #ffffff;
  text-decoration: none;
  border: solid 1px #000000;
  background-color: #000000; }

#finpag5 {
  background-color: #000000;
  height: 20vh;
  bottom: 0;
  width: 100%; }

.espacio-arriba {
  padding-top: 20px; }

* {
  padding: 0px;
  margin: 0px;
  font-family: 'Karma', serif; }

#home--grid {
  display: grid;
  grid-template-areas: "header header" "section section" "article article";
  grid-template-rows: 80px 630px 70px;
  grid-template-columns: repeat(1fr); }

header {
  grid-area: header; }

section {
  grid-area: section; }

#contactenos {
  grid-area: contactenos; }

article {
  grid-area: article; }

.home {
  background-image: url("https://lamoto.com.ar/wp-content/uploads/2020/06/crf450-3.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: unset;
  background-position-y: 50px;
  height: 100vh;
  background-attachment: fixed;
  width: 100%; }

#titulo {
  display: flex;
  justify-content: center; }

.container-fluid {
  display: flex;
  justify-content: space-between; }

.encabezado {
  position: fixed;
  width: 100%;
  top: 0px;
  font-weight: 600;
  display: flex;
  flex-direction: column; }

#Subtitulo {
  display: flex;
  justify-content: center;
  transition: all 0.4s ease; }
  #Subtitulo:hover {
    transition: all 0.4s ease;
    transform: scaleY(2); }

#menu__list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style-type: none; }

article {
  display: flex;
  justify-content: center; }

#btn-contactenos {
  display: none; }

.btn-dark {
  --bs-btn-color: #ffffff; }

.contactenos a {
  color: #000000;
  text-decoration: none;
  border: solid 1px #000000;
  background-color: #ffffff; }
  .contactenos a:hover {
    background: #8a8686; }

.modelos {
  text-align: center;
  margin-top: 80px; }

#links {
  color: #000000;
  text-decoration: none; }

.texto {
  margin: 50px 100px 30px 100px; }

#video {
  display: flex;
  justify-content: center;
  margin-bottom: 10px; }

.seguinos {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px; }

a.redes-list {
  bottom: 0;
  text-decoration: none;
  color: #000000; }

#home2 {
  background-image: linear-gradient(90deg, white, black, white); }

#lista__modelos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style-type: none; }

.marca {
  color: #ffffff;
  padding: 50px;
  text-align: center;
  margin-top: 30px; }

#carouselExampleCaptions {
  height: 60vh;
  display: flex;
  justify-content: center; }

.carousel-inner {
  height: 50vh;
  width: 90vh; }

span.carousel-control-next-icon, span.carousel-control-prev-icon {
  background-color: black; }

#img-motos {
  height: 50vh; }

#nombres--motos {
  height: 58vh; }

.h5, h5 {
  color: #000000; }

.valor-motos {
  color: #0fcd4f; }

.espacio-arriba {
  padding-top: 20px; }

#seguinos2 {
  color: #ffffff; }

#home3 {
  background-color: #000000;
  height: 100vh;
  overflow: hidden; }

.titulo3 {
  color: #ffffff;
  padding-top: 100px;
  text-align: center; }

.table {
  background-color: #000000;
  display: flex;
  justify-content: center; }

#table--horario {
  text-align: center;
  background-color: #ffffff;
  border: 1px solid black; }

.dias {
  height: 100px; }

tbody {
  height: 200px;
  margin-bottom: 100px; }

.pegado-abajo {
  position: absolute; }

@media (min-width: 992px) {
  #navbarNav {
    display: flex;
    justify-content: end; }
  #image__size {
    width: 1000px;
    height: 700px; }
  .casilleros {
    padding: 0px 300px; }
  #formulario__motos {
    margin: 70px; } }
