@mixin flex-column-center{
	display:flex;
	flex-direction:column;
	align-content:center;
}

#home5{
    background-image: url('https://www.motociclismo.es/uploads/static/motociclismo/upload/images/paragrapharticle/30090/paragrapharticle-70789-596c91c28efa2.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    background-attachment:fixed;
    height: 100%;
    width: 100%;
    }
    
    .completando{
    color: #ffffff;
    border: solid 1px #000000;
    background-color: #000000;
    margin-top: 65px;
    text-align: center;
    }
    
    #formulario__motos{ 
    display: flex;
    justify-content: center;
    }
    
    legend{
    text-align: center;
    }
    
    fieldset{
    text-align: start;
    background-color: transparent;
    border:solid;
    }
    
    .sexo{
    text-align: center
    }
    .sexohm{
        display: flex;
        justify-content: space-evenly;
    }
    .diferentes-elecciones{
        @include flex-column-center;
    }
    .complete{
    margin-bottom: 30px;
    display:inline;
    }
    
    .elegicolor{
        display: flex;
        justify-content: center;
    }
    .complete__color{
    margin-bottom: 5px;
    }
    
    .btn--fondo{
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    }
    
    .btn{
    background-color: #ffffff;
    }
    
    .fondo__negro{
    background-color: #000000;
    }
    
    .seguinos5{
    display: flex;
    justify-content: center;
    justify-items: end;
    margin-bottom: 30px;
    }
    #contactenos5{
    color: #ffffff;
    text-decoration: none;
    border: solid 1px #000000;
    background-color: #000000;
    }
    #finpag5{
        background-color: #000000;
        height: 20vh;
        bottom: 0;
        width: 100%;
    }
    .espacio-arriba{
        padding-top: 20px;
    }