*{
    padding: 0px;
    margin: 0px;
font-family: 'Karma', serif;
}

#home--grid{
display: grid;
grid-template-areas: 
    "header header"
    "section section"
    "article article"
;
grid-template-rows: 100px 650px 60px;
grid-template-columns:repeat(1fr);
}
header{
    grid-area: header;
}      
section{
    grid-area: section;
}
#contactenos{
    grid-area: contactenos;
}
article{
    grid-area: article;
}
.home {
    background-image: url('https://lamoto.com.ar/wp-content/uploads/2020/06/crf450-3.jpeg');
background-repeat: no-repeat;
background-size:cover;
background-position:unset;
background-position-y: 50px;
height: 100vh;
background-attachment:fixed;
width: 100%;
}
#titulo{
    display: flex;
    justify-content: center;
}
.container-fluid{
    display: flex;
    justify-content: space-between;
}
.encabezado { 
    position: fixed; 
    width: 100%; 
    top: 0px; 
    font-weight: 600;
    display:flex; 
    flex-direction: column; 
}
#Subtitulo{
    display: flex;
    justify-content: center;
    transition: all 0.4s ease;
    &:hover{
        transition: all 0.4s ease;
        transform: scaleY(2);
    }
}
#menu__list{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    }
#btn-contactenos{
    display: none;
}
.btn--contenedor{
    position: fixed;
    bottom: 20px;
}
.contactenos{
    a{
        display: block;
        color: #000000;
        text-decoration: none;
        border: solid 1px #000000;
        background-color: #ffffff;
        &:hover{
        background: #8a8686;
        }
    }
}
.modelos{
    text-align: center;
    margin: 110px
}  
.texto{
    margin: 100px 100px 30px 100px;
}
#video{
    display: flex; 
    justify-content: center;
}
.seguinos{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
a.redes-list{
    bottom: 0;
    text-decoration: none;
    color: #000000;
}
