#home2{
    background-image: linear-gradient(90deg,white,black,white);
    }
    
    #lista__modelos{
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    }
    
    .marca{
    color: map-get($estilos, color);
    padding: map-get($estilos, 50px);
    text-align: map-get($estilos, centro);
    margin-top: map-get($estilos, margintop);
    }
    #carouselExampleCaptions{
        height: 60vh;
        display: flex;
        justify-content: center;
    }
    .carousel-inner{
        height: 50vh;
        width: 90vh;
    }
    span.carousel-control-next-icon{
        background-color: black;
    }
    span.carousel-control-prev-icon{
        @extend span.carousel-control-next-icon
    }
    #img-motos{
        height: 50vh;
    }
    #nombres--motos{
        height: 58vh;
    }
    .h5, h5{
        color: #000000;
    }
    .valor-motos{
        color: #0fcd4f;
    }
    .espacio-arriba{
        padding-top: 20px;
    }
    #seguinos2{
        color: #ffffff;
        }