#home3{
    background-color: #000000;
    height: 100vh;
    overflow: hidden;
}

.titulo3{
color: #ffffff;
padding-top: 100px;
text-align: center;
}
#table--horario{
text-align: center;
background-color: #ffffff;
}
.table{
background-color: #000000;
display: flex;
justify-content: center;

}

.dias{
height: 100px;
}
tbody{
    height: 200px;
    border-width: 1;
}